{% extends 'base_practitioner.html.twig' %}

{% block body %}
    {{ dump(distance) }}
    <div class="container-fluid">
        <h1>Vos prochains RDV</h1>
        <small><a href="{{ path('practitioner_map') }}">Voir sur une carte</a></small>
        <div class="rdv-list d-flex align-items-center flex-column flex-fill">
            {% for rdv in rdvs %}
                <div class="card border-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                        <h4 class="card-title">{{ rdv.patient.firstName }} {{ rdv.patient.lastName }}</h4>
                        <p class="card-text">{{ rdv.adress }}</p>
                        <p class="card-text">{{ rdv.creneau.title }}</p>
                        <a href="{{ path('practitioner_map_solo', {'id': rdv.id}) }}">Voir sur la carte</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
