{% extends 'base_practitioner.html.twig' %}
{% block title %}
    Accueil Professionnel

{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h5>{{ message }}</h5>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <h1>Vos prochains RDV</h1>
        <a href="{{ path ('practitioner_map') }}" class="d-flex align-items-center flex-column pb-3">Voir tous les RDV sur la carte</a>
                <div class="rdv-list d-flex align-items-center flex-column flex-fill">
            {% for rdv in rdvs %}
                <div class="card shadow-sm border-secondary mb-3" style="min-width: 22rem; max-width: 22rem;">
                    <div class="card-body">
                        <a href="{{ path('practitioner_delete_rdv', {'id': rdv.id}) }}" class="close">&times;</a>
                        <h4 class="card-title pract-card">{{ rdv.patient.firstName }} {{ rdv.patient.lastName }}</h4>
                        <p class="card-text">{{ rdv.adress }}</p>
                        <p class="card-text">{{ rdv.creneau.title }}</p>
                        <a href="{{ path('practitioner_map_solo', {'id': rdv.id}) }}">Voir sur la carte</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

