{% extends 'base.html.twig' %}
    {% block body %}
        <div class="container-fluid">
            <h1>Choisissez un rdv,</h1>
            <div class="rdv-list d-flex align-items-center flex-column flex-fill">

                {% for rdv in rdvs %}
                     <div class="card border-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-body">
                            <h4 class="card-title">{{ rdv.patient.firstName }} {{ rdv.patient.lastName }}</h4>
                            <p class="card-text">{{ rdv.adress }}</p>
                            <p class="card-text">{{ rdv.date|date('d/m/Y') }} , {{ rdv.creneau.title}}</p>
                            <p class="card-text">Distance : {{ rdv.distance|round()}} Km.</p>
                            <button class="btn btn-primary shadow-sm btn-block">{{ button_label|default('Confirmer') }}</button>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
 {% endblock %}
