{% extends 'base.html.twig' %}
    {% block body %}
        <div class="container-fluid">
            <h1>Choisissez un rdv</h1>
            <div class="rdv-list d-flex align-items-center flex-column flex-fill">

                {% for rdv in rdvs %}
                    {% if not rdv.practitioner %}
                     <div class="card border-secondary mb-3 shadow" style="max-width: 18rem; min-width: 18rem;">
                        <div class="card-body">
                            <h4 class="card-title"><strong>{{ rdv.patient.firstName }} {{ rdv.patient
                                .lastName }}</strong></h4>
                            <p class="card-text">{{ rdv.adress }}</p>
                            <p class="card-text"><strong>{{ rdv.date|date('d/m/Y') }} , {{ rdv.creneau.title}}</strong></p>
                            <p class="card-text">Distance : {{ rdv.distance|round()}} Km.</p>
                            <a href="{{ path ('practitioner_accept_rdv', { "id": rdv.id }) }}" class="btn btn-primary
                            btn-lg
                            btn-block">Confirmer mon passage</a>
                         </div>
                    </div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
 {% endblock %}
