<div class="form-container">

    {{ form_start(form) }}
    <div class="card shadow-sm border-primary mb-3" style="max-width: 20rem;">
        <div class="card-body">
            <h4 class="card-title">{{ form_label(form.adress) }}</h4>
            <p class="card-text">{{ form_widget(form.adress) }}</p>
        </div>
    </div>
    <div class="card shadow-sm border-primary mb-3" style="max-width: 20rem;">
        <div class="card-body">
            <h4 class="card-title">{{ form_label(form.date) }}</h4>
            <p class="card-text">{{ form_widget(form.date) }}</p>
        </div>
    </div>
    <div class="card shadow-sm border-primary mb-3" style="max-width: 20rem;">
        <div class="card-body">
            <h4 class="card-title">{{ form_label(form.creneau) }}</h4>
            <p class="card-text">{{ form_widget(form.creneau) }}</p>
        </div>
    </div>
    <div class="card shadow-sm border-primary mb-3" style="max-width: 20rem;">
        <div class="card-body">
            <h4 class="card-title">{{ form_label(form.message) }}</h4>
            <p class="card-text">{{ form_widget(form.message) }}</p>
        </div>
    </div>
    <button class="btn btn-primary shadow-sm btn-block mb-3">{{ button_label|default('Confirmer') }}</button>
    {{ form_end(form) }}

</div>
