{{ form_start(form) }}
<div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-body">
        <h4 class="card-title">{{ form_label(form.adress) }}</h4>
        <p class="card-text">{{ form_widget(form.adress) }}</p>
    </div>
</div>
<div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-body">
        <h4 class="card-title">{{ form_label(form.date) }}</h4>
        <p class="card-text">{{ form_widget(form.date) }}</p>
    </div>
</div>
<div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-body">
        <h4 class="card-title">{{ form_label(form.message) }}</h4>
        <p class="card-text">{{ form_widget(form.message) }}</p>
    </div>
</div>
<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
